@font-face {
    font-family: 'comfortaa'; 
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fredokaone'; 
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'proxima'; 
  src: url('../fonts/Proxima\ Nova\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubik'; 
  src: url('../fonts/Rubik-Light.ttf Nova\ Bold.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

/* h1 {
    font-family: 'fredokaone', Arial, sans-serif;
    font-weight: bolder;
    font-size: 4em;
    color: rgb(0, 0, 0);
  } */

  h1 {
    font-family: 'proxima', sans-serif;
    font-weight: bolder;
    font-size: 4em;
    color: rgb(0, 0, 0);
  }

  p {
    font-family: 'rubik', sans-serif;
    color: black;
  }
  
  li {
    font-family: 'rubik', sans-serif;
    color: black;
    font-size: 1.15rem;
    line-height: 1.5;
  }

  /* h2, h3, h4, h5, h6, a, li, ul {
    font-family: 'comfortaa', sans-serif;
    color: rgb(0, 0, 0);
  } */

  h2, h3, h4, h5, h6, a, li, ul {
    font-family: 'proxima', sans-serif;
    color: rgb(0, 0, 0);
  }

  /* h2, h3, h4, h5, h6, a, li, ul {
    font-family: 'rubik', sans-serif;
    color: rgb(0, 0, 0);
  } */

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.5;
  }

  a {
    font-family: 'rubik', sans-serif;
    color: black;
    font-size: 1.15rem;
    line-height: 1.5;
  }

  a:hover {
    color: var(--accent);
  }

  .nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Default to horizontal layout */
}

.nav__links li {
    margin-right: 15px; /* Spacing between items */
}

  @media screen and (max-width: 680px) {
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1em;
    }
    h3 {
      font-size: .9rem;
    }
  
    p {
      font-size: .8rem;
      line-height: 1.5;
    }
    .nav__links {
      flex-direction: column; /* Stack vertically on small screens */
      align-items: center; /* Center items horizontally */
  }

  .nav__links li {
      margin: 5px 0; /* Adjust spacing for vertical stack */
  }

  li {
    font-size: .8rem;
  }

  a {
      font-size: .95rem;
  }

  button {
      font-size: .95rem;
  }

  .quote a {
    font-size: .75rem;
  }
  }

  @media screen and (max-width: 1080px) {
    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: .95rem;
    }
  
    p {
      font-size: .9rem;
      line-height: 1.5;
    }
    .nav__links {
      flex-direction: column; /* Stack vertically on small screens */
      align-items: center; /* Center items horizontally */
  }

  .nav__links li {
      margin: 5px 0; /* Adjust spacing for vertical stack */
  }

  li {
    font-size: .8rem;
  }

  a {
      font-size: .95rem;
  }

  button {
      font-size: .95rem;
  }

  .quote a {
    font-size: .75rem;
  }
  }